{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center; color: aliceblue; padding-top: 2%;">Roommate Finder Legal Details</h1>

<div class="col" style="padding-top: 1%; text-align: center; width: 85%; margin: 0 auto;">
<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
    <h4 class="my-0 fw-normal">Who Are We</h4>
    </div>
    <div class="card-body">
        <div class="text-break">
            We are a team of 5 students from UVA.
            This site is a project for a class CS3240 - Advanced Software Development
        </div>
    </div>
</div>
</div>

<div class="col" style="padding-top: 1%; text-align: center; width: 85%; margin: 0 auto;">
<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
    <h4 class="my-0 fw-normal">What Data Are We Collecting?</h4>
    </div>
    <div class="card-body">
        <div class="text-break">
            When you sign into Roommate Finder, you give us information voluntarily.
            This includes name, gender, and any other information you choose provide on your
            profile's biography.
        </div>
        <div class="text-break">
            By signing into our site through Google or Facebook, our website gets
            information from these third party services: the first name and email
            address associated with these accounts. 
        </div>
    </div>
</div>
</div>

<div class="col" style="padding-top: 1%; text-align: center; width: 85%; margin: 0 auto;">
<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
    <h4 class="my-0 fw-normal">What Do We Do With It?</h4>
    </div>
    <div class="card-body">
        <div class="text-break">
            Nothing. But if you want to get it removed from our system, email: ekd4hh@virginia.edu
            and we'll delete it (and your account) from our database.
        </div>
    </div>
</div>
</div>
{% endblock %}