{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
   
<div style="padding-top: 1%; padding-bottom: 2%;">
    <form style="margin: 0 auto; width: 40%;" class="d-flex" action="{% url 'roommates:search_results' %}" method="get">
        <input class="form-control" name="q" type="search" placeholder="Search for Roommate" />
        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
    </form>
</div>
{% for message in messages %}
        {% if message.tags == "error" %}
                    <div class="alert alert-danger" style="text-align: center;">
                        <a data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
        {% endif %}
            {% endfor %}
<form method="get">
    <div class="card text-center w-75" style="margin: 0 auto;">
        <div class="card-header">
            <h4 style="text-align: center; padding-top: 0%;">Filter</h4>
        </div>
        <div class="card-body">
            <div class="row " style="margin: 0 auto;">
                <div class="form-group col-sm-4">
                    First Name
                    {% render_field filter.form.first_name class="form-control" %}
                </div>
                <div class="form-group col-sm-4">
                    {{ filter.form.gender.label_tag }}
                    {% render_field filter.form.gender class="form-control" %}
                </div>
                <div class="form-group col-sm-4">
                    Graduation Year
                    {% render_field filter.form.year class="form-control" %}
                </div>
            </div>
            <div class="row" style="padding-bottom: 1%; padding-top: 1%; margin: 0 auto;">
                <div class="form-group col-sm-4">
                   Living on-grounds
                    {% render_field filter.form.location_general class="form-control" %}
                </div>
                <div class="form-group col-sm-4">
                    Specific Location
                    {% render_field filter.form.location_specific class="form-control" %}
                </div>
                <div class="form-group col-sm-4">
                    Major
                    {% render_field filter.form.major class="form-control" %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary">
                    <span class="bi bi-filter" style="padding-right: 3px;"></span> Filter
                </button>
            </div>
        </div>
    </div>

</form>
<div class="container pt-4">
    {% if filter.qs %}
    <ul class="row g-4">
        {% for profile in filter.qs %}
        <div class="col-3">
            <li class="card h-100">
                <img src="{{profile.profile_pic.url}}" alt="Profile picture" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                    <h6 class="card-subtitle text-muted">{{ profile.pronouns }}</h6>
                    <p class="card-text">
                        {{ profile.bio }}
                    </p>
                    <div class="row">
                        <div class="col-6"><i class="bi-person-fill"></i> {{ profile.gender }}</div>
                        <div class="col-6"><i class="bi-calendar-date"></i> {{ profile.year }}</div>
                        <div class="col-6"><i class="bi-geo-alt-fill"></i> {{ profile.location_specific }}</div>
                        <div class="col-6"><i class="bi bi-book-half"></i> {{ profile.get_major_display }}</div>
                    </div>
                </div>
                <div style="text-align: center; padding-bottom: 2%;">
                 {% if profile in favs %}
                 <a class="btn btn-labeled btn-danger" href="{% url 'roommates:favorite_add' profile.id %}">
                <span class="btn-label"><i class="bi bi-heart"></i></span> Unfavorite</a>
                {% else %}
                 <a class="btn btn-labeled btn-outline-danger" href="{% url 'roommates:favorite_add' profile.id %}">
                <span class="btn-label"><i class="bi bi-heart"></i></span> Favorite</a>
                {% endif %}
               
               
              
                        <a class="btn btn-labeled btn-outline-danger" href="{% url 'roommates:block_add' profile.id %}">
                            <span class="btn-label"><i class="bi bi-octagon"></i></span> Block</a>
                </div>
            </li>
        </div>
        {% endfor %}
    </ul>

</div>
{% else %}
<div style="text-align: center; color: aliceblue; font-size: 24px; font-weight: bolder;">No profiles were found</div>
{% endif %}

{% endblock %}